@import '../../../styles/settings.scss';

.root {
  margin: auto;
  font-family: $main-font;
  background-color: $menuBar-background;
  color: $menuBar-text-color;
  box-shadow: 0 4px 5px -1px $header-background;
}

.menuBar {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-end;

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px 10px;
    transition: $transition-color;
    &__cart {
      font-size: 50px;
    }
    &__sum {
      margin-left: 10px;
      padding: 3px 5px;
      font-size: 25px;
      color: $header-text-color;
      background-color: $header-background;
      border-radius: 5px;
    }
    &:hover {
      background-color: $hover-color;
      transition: $transition-color;
      color: $menuBar-text-color;
    }
  }

  &__linkCart {
    color: $menuBar-text-color;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Active el */

div[class~="active"] {
  padding: 7.5px 15px;
  background-color: $hover-color;
  a {
    text-decoration: none;
    font-weight: bold;
    color: $menuBar-text-color;
  }
}
