@import '../../../styles/settings.scss';

.root {
  margin: auto;
  font-family: $main-font;
  background-color: $topBar-background;
  color: $header-text-color;
  max-height: 40px;
  height: 40px;
}

.topBar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 40px;

  .topBar__left {
    a {
      img {
        height: 30px;
        filter: invert(88%) sepia(9%) saturate(198%) hue-rotate(189deg) brightness(111%) contrast(90%);
        transition: $transition-color;
      }
      &:hover {
        filter: invert(53%) sepia(81%) saturate(471%) hue-rotate(4deg) brightness(96%) contrast(81%);
        text-decoration: none;
        transition: $transition-color;
      }
      span {
        text-decoration: none;
        color: $header-text-color;
      }
    }
  }

  .topBar__right {
    font-size: $base-size*1.5;
    a {
      color: $header-text-color;
      text-decoration: none;
      &:hover {
        color: $hover-color;
        text-shadow: 1px 1px 1px $shadow;
      }
    }
  }
}
