@import "../../../styles/settings.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  .img {

  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    div {
      background-color: transparent;
      border-radius: 15px;
      padding: 0 8px;
      border: 3px solid $model-text-color;
      transition: $transition-background;
      cursor: pointer;
      &:hover {
        transition: $transition-background;
        background-color: $model-title-color;
        border: 3px solid $model-text-color;
        color: $model-background;
      }
    }
  }

}
