@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* size */
$base-size: 12px;

/* Fonts */
$title-font: 'Sansita Swashed', cursive;
$main-font: 'Open Sans', sans-serif;

/* colors */

$main-theme: #bdc3c7;
$title-color: #8e44ad;
$button-color: #2c3e50;
$top-bar-bg: #ecf0f1;
$shadow: grey;

/* Transition */
$transition-background: .2s;
$transition-color: .3s;
$transition-translation: .3s;
